<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.chatapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Controller.HomeController"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation.NavigationBar"
            android:label="@string/title_activity_navbar"
            android:theme="@style/MainHeader" />
        <activity
            android:name=".Chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".Controller.HomeController"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Controller.LoginController"
            android:label="@string/title_activity_sign_in_controller"
            android:parentActivityName=".Controller.HomeController" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.chatapplication.Controller.HomeController" />
        </activity>
        <activity
            android:name=".Controller.SignUpController"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".Controller.UserDomainController"
            android:label="@string/title_activity_user_domain_controller" >
        </activity>
    </application>

</manifest>
